<h1 id="nom_du_site">Walike-fodo</h1>
    <div id="top_barre">
        <div>
            <div id="logo"><img src="" alt="logo"></div>
            <div id="comentaire_de_logo">
                <p>La <b>daba</b> n'a pas menti a nos arrieres parents, elle n'a pas menti a nos parents, ce n'est pas a nous elle va mentir</p>
                <p>Allons au <b>champs</b> </p>
            </div>
        </div>
    </div>