body {
    margin: 0;
    padding: 0;
}
.container {
    padding: 0;
    margin: 0;
}
.page_body {
    width: 70%;
    margin-left: 15rem;
    padding: 0;
}
.sections {
    border: 1px solid transparent;
    border-top-color: #aaa;
    border-bottom-color: #aaa;
    padding: 1rem 0;
}
.asides_container {
    position: absolute;
    display: inline-block;
    border: 1px solid transparent;
    width: 74%;
    min-height: calc(100vh - 24rem);
}
.culture_fiches {
    margin: 1rem 0;
    overflow: auto;
}
.culture_fiches select, .culture_fiches input {
    border-style: none;
    border-bottom: 1px solid #aaa;
    margin-bottom: 1rem;
    padding: 0 1rem;
    font-weight: bold;

}
.culture_titre {
    padding: 0 0.5rem;
    margin: 0.5rem;
}
.culture_sous_titre {
    padding: 0.5rem;
    margin: 0;
}
.plus {
    margin: 0 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid #aaa;
    border-radius: 50%;
    background-color: #eee;
    text-align: center;
    line-height: 1.5rem;
    cursor: pointer;
}
.plus a { text-decoration: none; }
.td_titre h3 {
    margin: 0;
    padding: 0;
}
.table_d_etape {
    margin-bottom: 1rem;
    border-top: 1px solid #aaa;
}
.table_d_etape th, .table_d_etape td {
    padding: 0 1rem;
}
.th_foot {
    text-align: right;
    border: 0.125rem solid #ccc;
}
.th_head {
    text-align: left;
    background-color: #ccc;
}