
.asides_container {
    position: absolute;
    display: inline-block;
    border: 1px solid transparent;
    width: 74%;
    min-height: calc(100vh - 24rem);
}
body {
    margin: 0;
    padding: 0;
}
.container {
    padding: 0;
    margin: 0;
}
.couvercle, .cover {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}
.editeur {
    position: absolute;
    padding: 2rem 0;
    top: 60vh;
    left: 15%;
    min-height: 4rem;
    background-color: #fff;
    box-shadow: 0 0 0.5rem #aaa;
    border-radius: 0.5rem;
}
.editeur table { margin: 2rem; }
.editeur input { min-width: 2rem; }
.page_body {
    width: 70%;
    margin-left: 15rem;
    padding: 0;
}
.sections {
    border: 1px solid transparent;
    border-top-color: #aaa;
    border-bottom-color: #aaa;
    padding: 1rem 0;
}
.champs_cards_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position: relative;
    margin: 0.5rem 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}
.culture_card {
    background-color: green;
    min-width: 4rem;
    height: 2rem;
    margin: 0.125rem;
    padding: 0 0.5rem;
    cursor: pointer;
}
.culture_card:hover {
    background-color: greenyellow;
}
.culture_card h4, .trois_points {
    display: inline-block;
}
.culture_card h4 {
    margin: 00.5rem;
}
.fiche_des_travaux_journaliers select, .fiche_des_travaux_journaliers input {
    border-style: none;
    border-bottom: 1px solid #aaa;
    margin-bottom: 1rem;
    padding: 0 1rem;
    font-weight: bold;

}
.table_deroulant_container select, .table_deroulant_container input {
    border-style: none;
    border-bottom: 1px solid #aaa;
    margin-bottom: 1rem;
    padding: 0 1rem;
    font-weight: bold;

}
.culture_titre {
    padding: 0 0.5rem;
    margin: 0.5rem;
}
.culture_sous_titre {
    padding: 0.5rem;
    margin: 0;
}
.fermeture {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin: 0.5rem;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.fermeture:hover { background-color: #aaa; font-weight: bold; }
.fermeture:active { background-color: #aaa; }
.fiche_des_travaux_journaliers {
    position: relative;
    top: 30rem;
    padding: 2rem 6rem;
    width: 60vw;
    max-width: 50rem;
    max-height: 32rem;
    margin: auto;
    box-shadow: 0 0 1rem #666;
    background-color: #fff;
    border-radius: 0.5rem;
    overflow-y: auto;
}
.hide { display: none; }
.plus {
    margin: 0 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid #aaa;
    border-radius: 50%;
    background-color: #eee;
    text-align: center;
    line-height: 1.5rem;
    cursor: pointer;
}
.plus a { text-decoration: none; }

.reumes_des_champs {
    position: relative;
    border: 1px solid #ddd;
    border-left-color: transparent;
    border-right-color: transparent;
    margin: 2rem 0;
    padding: 1rem;
}
.resunes_des_champs_table td { border-bottom: 1px solid #ddd; }
.resunes_des_champs_table th { 
    background-color: #ddd;
    text-align: left; 
    padding: 0.125rem 1rem; 
}
.resunes_des_champs_table td { padding: 0.125rem 1rem; }
.sans_bordure { border-color: #fff; background-color: transparent; }
.show { display: block; }
.table_deroulant_container {
    margin: 1rem 0;
    overflow: auto;
    height: 65vh;
}
.table_deroulant {
    border-collapse: collapse;
    margin-bottom: 1rem;
}
.table_deroulant td:not(.sans_bordure) {
    border: 1px solid #ccc;
}
.table_deroulant th, .table_deroulant td {
    padding: 0 0.5rem;
}
.td_chifre { text-align: right; }
.td_options { padding: 0 0.5rem; cursor: pointer; }
.td_options a { text-decoration: none; }
.td_options:hover { background-color: #ddd; }
.td_titre h3 {
    margin: 0;
    padding: 0;
}
.th_head {
    position: sticky;
    top: 0;
    text-align: left;
    background-color: #ccc;
    height: 2rem;
}
.th_foot {
    text-align: right;
    border: 0.125rem solid #ccc;
}
.th_etape { 
    padding-top: 1rem;
    border-bottom: 4px solid #bbb; 
}
.th_total { border: 1px solid #bbb; }
.th_totaux { 
    position: sticky;
    bottom: 0;
    height: 2rem;
}
.th_totaux:not(#th_vide) { 
    background-color: #ccc; 
    border: 1px solid transparent; 
}
.titre_container {
    padding: 0.5rem;
    border: 1px solid #ccc;
}
.titre_container h1, .titre_container h2, .titre_container h3 { display: inline-block; padding: 0; margin: 0; }
.tr_vide { height: 0.4rem; }
.tr_vide td { border: none; }

@media screen and (width <= 600px)  {
    .container { width: 100%; }
}
@media screen and (width > 600px)  {
    .container { width: 6clearz0%; }
}