#culture_onglet span {
    background-color: #ddd;
    margin: 0 2px;
    padding: 0.125rem 0.5rem;
    cursor: pointer;
}
#culture_onglet a {
    text-decoration: none;
}
#culture_onglet span:hover {
    background-color: #ccc;
}
.culture_fiches {
    margin: 1rem 2rem;
    min-height: 6rem;
}
/* .culture_fiches:not(#culture_fiche_info) { display: none; } */
.culture_fiches input {
    border-style: none;
    border-bottom: 1px solid #aaa;
    margin-bottom: 1rem;
    padding: 0 1rem;
    width: 7rem;
    font-weight: bold;
}