#culture_onglet span {
    background-color: #ddd;
    margin: 0 2px;
    padding: 0.125rem 0.5rem;
    cursor: pointer;
}
#culture_onglet a {
    text-decoration: none;
}
#culture_onglet span:hover {
    background-color: #ccc;
}