
    body { margin: 0; padding: 0; }

    .localite {
        cursor: pointer;
    }
    .localite:hover {
        font-weight: bold;
    }
    .culture a {
        text-decoration: none;
    }
    #image_de_localite img {
        position: absolute;
        margin: 0;
        padding: 0;
        left: 0;
        max-width: 40rem;
        max-height: 20rem;
    }

    @keyframes glisser_de_haut {
        from { top: -80vh; }
        to { top: 0; }
    }
    @keyframes glisser_en_haut {
        from { top: 0; }
        to { top: -80vh; }
    }
    @keyframes glisser_de_gauche {
        from { left: -120%; }
        to { left: 0; }
    }
    @keyframes glisser_a_gauche {
        from { left: 0; }
        to { left: -120%; }
    }