
#culture { width: 4rem; }
#etape { width: 12rem; }
#date { width: 10rem; }
#travail { width: 14rem; }
#moyen { width: 6rem; }
#quantite { width: 1.5rem; }
#personnel { width: 1rem; }
#duree { width: 1rem; }
#cout { width: 5rem; }