
#culture { width: 4rem; }
#etape { width: 12rem; }
#date { width: 6rem; }
#travail { width: 10rem; }
#moyen { width: 6rem; }
#quantite { width: 2rem; }
#personnel { width: 2rem; }
#duree { width: 3rem; }
#cout { width: 6rem; }