
#projet_titre {
    margin: 2px 0;
    padding: 0 1rem;
    border: 1px solid #ccc;
}
table { border-collapse: collapse; }
#table_projet th, #table_projet td:not(.td_options) { padding: 0.125rem 1rem; }
#table_projet #tr_1 th { background-color: #ccc; }
#table_projet td:not(.sans_bordure) { border: 1px solid #ccc; }