
<div id="editer_projet">
    <span class="fermeture" id="fermer_edition_projet">&times;</span>

    <table id="editer_projet_table"> 
        <form action="/projet" method="post">

            <tr>
                <tr id="tr_1">
                    <th style="display:none"></th>
                    <th style="display:none"></th>
                    <th><label for="input_2">No</label></th>
                    <th><label for="input_3">Taches</label>
                    <th><label for="input_4">Duree</label></th>
                    <th><label for="input_5">Debut</label></th>
                    <th><label for="input_6">Fin</label></th>
                    <th><label for="input_7">Moyen</label></th>
                    <th class="sans_bordure" width="16"></th>
                    <th id="th_7"><label for="input_9">Personnel</label></th>
                    <th id="th_8"><label for="input_10">Cout</label></th>
                </tr>
            </tr>

            <tr>
                <td style="display: none;"><input type="text" name="input_0" id="input_0" value=""></td>
                <td style="display: none;"><input type="text" name="input_1" id="input_1" value=""></td>
                <td><input type="text" name="input_2" id="input_2" value=""></td>
                <td><input type="text" name="input_3" id="input_3" value=""></td>
                <td><input type="text" name="input_4" id="input_4" value=""></td>
                <td><input type="text" name="input_5" id="input_5" value=""></td>
                <td><input type="text" name="input_6" id="input_6" value=""></td>
                <td><input type="text" name="input_7" id="input_7" value=""></td>
                <td class="sans_bordure"></td>
                <td><input type="text" name="input_9" class="td_chifre" id="input_9" value=""></td>
                <td><input type="text" name="input_10" class="td_chifre" id="input_10" value=""></td>
            </tr>

            <tr>
                <table><tr><td><input type="submit" name="submit" id="submit" value="Enregistrer les modifications"></td></tr></table>
            </tr>
        </form>
    </table>   
        
</div>