<div id="header">
    <%- include('logo.ejs') %>
</div>   
    
    

<style>
    #top_barre {
        border-top-color: #aaa;
        border-bottom-color: #aaa;
        padding: 1rem 0;
    }
    #nom_du_site {
        text-align: center;
    }
    #top_barre > div {
        max-width: 50rem;
        margin: auto;
    }
    #comentaire_de_logo {
        width: calc(100% - 8rem);
    }
</style>