<style>
    #logo_container {
        background-color: greenyellow;
        padding: 0 2rem;
        border-radius: 0.5rem;
    }
    #logo {
        width: 5rem; 
        height: 5rem; 
        border: 1px solid #ccc;
        border-radius: 50%;
        padding: 0.5rem;
        margin: 0.5rem;
        background-color: #fff;
        overflow: hidden;
    }
    #logo img {
        width: 5rem; 
    }
    #logo, .after_logo { display: inline-block; vertical-align: middle; }
</style>

<div id="logo_container">
    <div id="logo"><img src="/images/logos/houe.webp" alt="logo"></div>
    <h3 class="after_logo" id="nom_du_site">Walike-fodo</h3>
</div>.