<div id="nav_laterale_head">

    <h2 id="nav_laterale_titre">Les Cultures</h2>

    <div id="nav_laterale_plus">+</div>

    <div id="forms_container">
        
        <form action="/" method="post" id="form_culture">
            <span id="form_culture_fermeture">&times</span>
            <br><br>
            <div id="form_culture_titre"></div>
            <br>
            <div id="form_culture_content">
                <input type="hidden" name="id" id="id">
                
                <label for="id_lieu">id du Lieu</label><br>
                <input type="text" name="id_lieu" id="id_lieu">
                <br><br>
                <label for="culture">Culture</label><br>
                <input type="text" name="culture" id="culture">
                <br><br>
                <label for="superficie">Superficie</label><br>
                <input type="text" name="superficie" id="superficie">
                <br><br>
                <label for="observations">observations de la culture</label><br>
                <input type="text" name="observations_de_la_culture" id="observations_de_la_culture">
                <br><br>

                <input type="submit" id="submit" value="Submit">
            </div>
            
        </form>

    </div>
    
</div>