<div id="page_head">

</div>

<style>
    
    #page_head {
        margin: 0;
        height: 2rem;
        width: 100%;
        background-color: greenyellow;
    }
</style>

<script src="js/fonctions.js"></script>