<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('C:/Users/ABDESOUZA/Desktop/fodo/composants/style.ejs') %>
    <title>erreur</title>
</head>
<body>

    <%- include('C:/Users/ABDESOUZA/Desktop/fodo/composants/page_head.ejs') %>
    <div id="page_body">
            
        <%- include('C:/Users/ABDESOUZA/Desktop/fodo/composants/header.ejs') %>

        <h1>Oups</h1>
        <p>L'url tape est invalide !</p>
        <p>Page introuvable !</p>
    </div>
</body>
</html>