<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/accueil.css">
    <title>accueil</title>
</head>
<body>
    <h2>Compte d'Exploitation Previsionnel (CEP) </h2>
    <div>
        <h3>1 - Depenses :</h3>
        <p>Ce sont desdepenses effectuees durant tout le processus de production et de la commercialisation.</p>
        <h3>2 - Recettes :</h3>
        <p>C'est le montant genere par la vente des produits de la recolte</p>
        <h3>3 - Benefice ou Perte :</h3>
        <p>C'est le resultat obtenu par la difference des recettes et des depenses de la production (Recettes - Depenses). Ainsi, il y a benefice si le resultat est superieur a 0, ou Perte si le resultat est inferieur a 0.</p>
    
        <div>
            <h4>1 - 1 Depenses d'equipement ou d'investissement :</h4>
            <p>
                Ce sont des depenses faites pour s'installer en achetant tout ce qui s'utlise plusieurs fois dans le processus de production comme : <br><br>
                - Terrain de production, Batiments (Location ou Achat);<br>
                - Les outils de production (Machines, machettes, houes, limes, arrosoirs etc...);<br><br>
                Durant chaque campagne, ces equipements s'usent et apres la campagne ils doivent faire objet de calcul d'amortissenent.
                <br><br><br>
                ● dépenses d’équipement ou d’investissement : ce sont les dépenses à effectuer pour s’installer (achat ou location de terre/bâtiment,…) et pour acheter les outils de travail (machette, brouettes, houe, râteau, daba, arrosoir, lime, pulvérisateur, tronçonneuse, ) Après une campagne agricole, ces matériels s’usent et doivent de ce fait, faire l’objet d’un calcul d’amortissement annuel.
            </p>

            <h4>1 - 2 Depenses de fonctionnement :</h4>
            <p>
                Ce sont les depenses faites pour acheter tout ce qui s'utilise une seule fois dans la production comme :<br><br>
                - La main d'oeuvre;<br>
                - Les intrants (engrais, produits phytosanitaires);<br>
                - Les semences;<br>
                - Les carburants (essence, gasoil, huile, ...);<br>
                - L'electricite etc...<br><br>
            </p>
            <br><br><br>
            
            ● dépenses d’équipement ou d’investissement : ce sont les dépenses à effectuer pour s’installer (achat ou location de terre/bâtiment,…) et pour acheter les outils de travail (machette, brouettes, houe, râteau, daba, arrosoir, lime, pulvérisateur, tronçonneuse,  ) Après une campagne agricole, ces matériels s’usent et doivent de ce fait, faire l’objet d’un calcul d’amortissement annuel.

            
            <h4>1 - 3 Depenses de commercialisation :</h4>
            <p>
                Ce sont des depenses faites pour promouvoir l'ecoulement des produits <br><br>
                ● dépenses de commercialisation : ce sont des dépenses effectuées pour promouvoir l’écoulement des produits (emballages, paniers, manutention, conservation, …)
            </p>
            <p>
                ● dépense de transport : dépenses effectuées pour assurer le transport des biens et des personnes jouant un rôle dans la production ;…
L’estimation    des recettes s’obtient en multipliant deux informations qu’il faut chercher à connaitre auprès d’autres agriculteurs :                 
            </p>
            <div>
                Skip to the content
AGRIBUSINESS DATA HUB
AGRI MADE IN AFRICA
CatégorieAGRIBUSINESS AGRICULTURE
Les Etapes pour débuter un projet en Agriculture
février 15, 2022 0  Par ADE DEPO
Nous vous livrons dans cet article, 10 conseils à considérer avant de vous lancer dans un projet d’exploitation agricole. Cette liste n’est pas exhaustive. Ne manquez donc pas de mentionner d’autres conseils s utile dans les commentaires.
<br><br>1- Jugez votre motivation profonde avant de vous lancer dans l’agriculture
L’agriculture est un métier laborieux qui nécessite beaucoup de connaissances et d’investissement initial en termes de temps et d’argent. Tout le monde n’est pas fait pour être un agriculteur ! Beaucoup commence mais abandonne très vite. Qu’en est-il de vous ? Êtes-vous suffisamment motivé pour tenir jusqu’au succès (parfois lointain, mais certain) ? Pour réussir dans ce métier, il faut avoir une passion pour le travail de la terre. C’est cette passion qui vous motivera à vous y impliquer et vous évitera d’abandonner si jamais vous rencontrez des difficultés.
<br><br>2- Disposer d’une parcelle de terrain cultivable
Une terre cultivable (faite pour l’agriculture) doit être arable (la couche en surface doit être facile à labourer) et fertile (le sol doit disposer des éléments nutritifs indispensables pour les cultures). L’aspect foncier est un facteur qui empêche beaucoup de personnes de se lancer dans l’agriculture étant donné les difficultés liées à l’acquisition des terres. Si vous ne possédez pas de terre cultivable, envisagez une location, éventuellement un  achat.
<br><br>3- S’informer sur les différentes cultures qui réussissent mieux sur le type de sol de votre parcelle et faire un choix sur les cultures à produire
Les propriétés des sols varient d’une localité à une autre en fonction du climat, des saisons, de la végétation, du relief, etc. Ainsi, certaines cultures sont mieux adaptées que d’autres suivant le type de sol. Pour choisir quelles cultures exploiter sur votre parcelle, il faut se renseigner et prendre des conseils auprès des agriculteurs expérimentés déjà en activités dans votre zone ou alors auprès des organismes locaux en charge de promotion de l’agriculture. Pour réduire les risques d’échec, il est bénéfique de produire ensemble 2 ou 3 cultures associées.
<br><br>4- Faire une étude de marché pour connaitre les circuits d’écoulement des produits cultivés.
L’adage selon lequel : « il faut savoir où, quand et à qui vendre avant même de se lancer dans la production » vaut ici tout son pesant d’or. L’étude de marché permet entre autre, de connaitre la demande, les besoins et les attentes du marché ainsi que ceux des consommateurs du point de vue de la qualité, de la quantité et du prix.
<br><br>5- Estimer le coût d’investissement de votre projet agricole à l’aide d’un Compte d’Exploitation Prévisionnelle (CEP)
Le CEP se présente sous la forme d’un tableau chiffré qui permet de savoir si une activité sera rentable ou pas. Cet indicateur donne une estimation de l’ensemble : 1) des dépenses à effectuer pour conduire votre projet du début jusqu’à la production, voir la commercialisation ;  2) des recettes générées par la vente des produits récoltés et 3) des bénéfices ou pertes qui en découlent. L’estimation des dépenses se décompose en :
<br><br> ● dépenses d’équipement ou d’investissement : ce sont les dépenses à effectuer pour s’installer (achat ou location de terre/bâtiment,…) et pour acheter les outils de travail (machette, brouettes, houe, râteau, daba, arrosoir, lime, pulvérisateur, tronçonneuse,  ) Après une campagne agricole, ces matériels s’usent et doivent de ce fait, faire l’objet d’un calcul d’amortissement annuel.
<br><br> ● dépenses de fonctionnement : ce sont les dépenses effectuées pour acheter/ tout ce qui s’utilise une seule fois au cours du projet (engrais, semences, main d’œuvre, carburant, électricité, …)
<br>●	dépenses de commercialisation : ce sont des dépenses effectuées pour promouvoir l’écoulement des produits (emballages, paniers, manutention, conservation, …)
<br>●	dépense de transport : dépenses effectuées pour assurer le transport des biens et des personnes jouant un rôle dans la production ;…
L’estimation des recettes s’obtient en multipliant deux informations qu’il faut chercher à connaitre auprès d’autres agriculteurs :
<br>●	 la productivité (c’est-à-dire le rendement ou la quantité produite à l’hectare, en Kg)
<br>●	et le prix de vente du produit récolté (en F/Kg).
<br><br> 6- Mobiliser ou rechercher un financement pour le lancement de son projet agricole
Le financement est capital pour démarrer et conduire sereinement une activité agricole. il faut donc disposer des moyens financiers suffisants par rapport à ses objectifs de production (superficie cultivée). Ce financement peut provenir des fonds propres, des crédits bancaires ou d’association, d’une aide, de subversions, etc.
<br><br> 7- Évaluer les risques de son projet agricole
Toute activité agricole est exposée à certains types de risques qu’il faut identifier et tenter de limiter leur survenance ou de gérer leur impact (risque sur la production, risques financiers, risques humains, risque d’instabilité des prix sur le marché, risques de vol, …)
<br><br> 8- Se former et s’informer suffisamment sur les techniques du métier d’agriculture
L’agriculture n’est pas une question de chance mais plutôt une science. Il faut donc chercher à acquérir les connaissances nécessaires qui vous ouvriront les portes du succès.
<br>●	 Lire beaucoup de livres qui traitent de votre domaine d’agriculture.
<br>●	Si possible, faire un maximum de recherches dur Internet.
<br>●	Aller à la rencontre d’autres agriculteurs plus expérimentés que vous dans le domaine, visiter leurs exploitations. Vous bénéficierez de leurs conseils et de leur expérience. Vous pourrez même réaliser quelques économies à travers eux, par exemple en mutualisant vos approvisionnements en intrants agricoles.
<br>●	S’inscrire à des formations et suivre des stages d’apprentissage en agriculture…
<br><br>9- Commencer son projet agricole sur une petite superficie
<br><br>Il est conseillé de toujours commencer toute nouvelle activité d’agriculture sur une petite superficie et d’agrandir progressivement son exploitation au fur et à mesure qu’on acquiert la maîtrise des techniques agricoles. Cela permet de contrôler les coûts d’investissement initiaux et de limiter les risques d’échec.
<br><br>10- Trouver des associés ou une main d’œuvre engagée
La réussite d’une activité agricole requiert une présence régulière dans l’exploitation. Avoir autour de soi des personnes qui partagent la même motivation que vous est donc un réel atout. Cela permet de tirer pleinement avantage des conditions de travail en équipe.



            </div>

        </div>
    </div>

</body>
</html>