<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>champs</title>
</head>
<body>
    <h1 id="culture_titre">Arachide de Kogota</h1>
    <h3>Exercice 2024</h3>
    <div>
        <p>pour l'annee 2024, la surface mis en valeur est de 1 ha pour la phas d'experimentation avec ue quantite de semence egal a 10 KG</p>
        <p>Les travaux de semis ont commence a mis avril et termine dans la premiere semaine de mai</p>
    </div>
    
    <script src="js/culture.js"></script>
</body>
</html>