<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="projet_9" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/projet.css">
    <link rel="stylesheet" href="css/class.css">
</head>
<body>
    <div id="container">

        <%- include('../public/composants/page_head.ejs') %>

        <div class="page_body">

            <%- include('../public/composants/header.ejs') %> 

            <h1>Projet No_8 : </h1>
            <h2>Production de 5 tonnes de Manioc a Lola</h2>

            <table>
                <tr>
                    <td>
                        <table border="1" cellpadding="4">
                            <tr> <th>No </th> <th>Taches                    </th> <th>Priorite</th> <th>Duree     </th> <th>Debut       </th> <th>Fin         </th> <th>Moyen </th> </tr>

                            <tr> <th>1  </th> <th>Preparation du terrain    </th> <th>1       </th> <th>2 semaines</th> <th>25 avril    </th> <th>10 mai      </th> <th>         </th> </tr>
                            <tr> <td>1-1</td> <td>Delimitation du terrain   </td> <td>        </td> <td>1 jour    </td> <td>25 avril    </td> <td>25 avril    </td> <td>Manuel   </td> </tr>
                            <tr> <td>1-2</td> <td>Defrichement du terrain   </td> <td>        </td> <td>11 jour   </td> <td>26 avril    </td> <td>22 avril    </td> <td>Machettes</td> </tr>
                            <tr> <td>1-3</td> <td>Brulures du terrain       </td> <td>        </td> <td>3 jour    </td> <td>23 avril    </td> <td>25 avril    </td> <td>Manuel   </td> </tr>
                        
                            <tr> <th>2  </th> <th>Semis                     </th> <th>2       </th> <th>1 semaines</th> <th>03 mai      </th> <th>10 mai      </th> <th>          </th> </tr>
                            <tr> <td>2-1</td> <td>Bouture                   </td> <td>        </td> <td>4 jour    </td> <td>03 mai      </td> <td>07 mai      </td> <td>Houes     </td> </tr>
                            <tr> <td>2-2</td> <td>Mise en place des bouts   </td> <td>        </td> <td>3 jour    </td> <td>08 mai      </td> <td>10 mai      </td> <td>Manuel    </td> </tr>

                            <tr> <th>3  </th> <th>Travaux d'entretient      </th> <th>3       </th> <th>8 semaines</th> <th>20 mai      </th> <th>20 juin     </th> <th>          </th> </tr>
                            <tr> <td>3-1</td> <td>Premier Desherbage        </td> <td>        </td> <td>4 jour    </td> <td>20 mai      </td> <td>24 mai      </td> <td>Daba      </td> </tr>
                            <tr> <td>3-2</td> <td>Apport d'angrais          </td> <td>        </td> <td>2 jour    </td> <td>25 mai      </td> <td>27 mai      </td> <td>Manuel    </td> </tr>
                            <tr> <td>3-3</td> <td>Deuxieme Desherbage       </td> <td>        </td> <td>4 jour    </td> <td>20 juin     </td> <td>24 juin     </td> <td>Daba      </td> </tr>
                            <tr> <td>3-2</td> <td>Apport d'angrais          </td> <td>        </td> <td>2 jour    </td> <td>25 juin     </td> <td>27 juin     </td> <td>Manuel    </td> </tr>

                            <tr> <th>4  </th> <th>Recolte                   </th> <th>4       </th> <th>2 semaines</th> <th>10 septembre</th> <th>24 septembre</th> <th>          </th> </tr>
                            <tr> <td>4-1</td> <td>Deterrage                 </td> <td>        </td> <td>4 jour    </td> <td>10 septembre</td> <td>14 septembre</td> <td>Manuel    </td> </tr>
                            <tr> <td>4-2</td> <td>Epluchage                 </td> <td>        </td> <td>2 jour    </td> <td>15 septembre</td> <td>16 septembre</td> <td>Manuel    </td> </tr>
                            <tr> <td>4-3</td> <td> Transport                </td> <td>        </td> <td>2 jour    </td> <td>17 septembre</td> <td>18 septembre</td> <td>Tricycle  </td> </tr>
                            <tr> <td>4-4</td> <td>Sechage                   </td> <td>        </td> <td>5 jour    </td> <td>19 septembre</td> <td>24 septembre</td> <td>Soleil    </td> </tr>
                        </table>
                    </td>
                    <td width="32"></td>
                    <td>
                        <table border="1" cellpadding="4">
                            <tr> <th>Personnel </th> <th>Cout </th> </tr>

                            <tr> <th>- </th> <th>           </th> </tr>
                            <tr> <td>2 </td> <td class="cout">  100000 FG</td> </tr>
                            <tr> <td>5 </td> <td class="cout"> 2750000 FG</td> </tr>
                            <tr> <td>2 </td> <td class="cout">  300000 FG</td> </tr>
                        
                            <tr> <th>- </th> <th>           </th> </tr>
                            <tr> <td>6 </td> <td class="cout"> 1200000 FG</td> </tr>
                            <tr> <td>4 </td> <td class="cout">   60000 FG</td> </tr>

                            <tr> <th>- </th> <th>           </th> </tr>
                            <tr> <td>6 </td> <td class="cout"> 1200000 Fg</td> </tr>
                            <tr> <td>4 </td> <td class="cout">  400000 FG</td> </tr>
                            <tr> <td>6 </td> <td class="cout"> 1200000 FG</td> </tr>
                            <tr> <td>4 </td> <td class="cout">  400000 FG</td> </tr>

                            <tr> <th>- </th> <th>           </th> </tr>
                            <tr> <td>8 </td> <td class="cout">12000000 FG</td> </tr>
                            <tr> <td>6 </td> <td class="cout">  600000 FG</td> </tr>
                            <tr> <td>2 </td> <td class="cout">  200000 FG</td> </tr>
                            <tr> <td>2 </td> <td class="cout">  500000 FG</td> </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>

    </div>


    <style>
        .cout {
            text-align: right;
            padding: 0 0.5rem;
        }
    </style>
    
</body>
</html>