<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="projet_9" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/projet.css">
    <link rel="stylesheet" href="css/class.css">
</head>
<body>
    <div id="container">

        <%- include('../public/composants/page_head.ejs') %>

        <div class="page_body">

            <%- include('../public/composants/header.ejs') %> 

            <h1>Projet No_9 : </h1>
            <h2>Production de 10 tonnes de Riz a Gogota</h2>

            <table border="1" cellpadding="4">
                <tr>
                    <th>No</th>
                    <th>Taches</th>
                    <th>Priorite</th>
                    <th>Duree</th>
                    <th>Debut</th>
                    <th>Fin</th>
                </tr>

                <tr>
                    <th>1</th>
                    <th>Preparation du terrain</th>
                    <th>1</th>
                    <th>2 semaines</th>
                    <th>25 avril</th>
                    <th>10 mai</th>
                </tr>
                <tr>
                    <td>1-1</td>
                    <td>Delimitation du terrain</td>
                    <td></td>
                    <td>1 jour</td>
                    <td>25 avril</td>
                    <td>25 avril</td>
                </tr>
                <tr>
                    <td>1-2</td>
                    <td>Defrichement du terrain</td>
                    <td></td>
                    <td>11 jour</td>
                    <td>26 avril</td>
                    <td>22 avril</td>
                </tr>
                <tr>
                    <td>1-3</td>
                    <td>Brulures du terrain</td>
                    <td></td>
                    <td>3 jour</td>
                    <td>23 avril</td>
                    <td>25 avril</td>
                </tr>
                
                <tr>
                    <th>2</th>
                    <th>Semis</th>
                    <th>2</th>
                    <th>1 semaines</th>
                    <th>3 mai</th>
                    <th>10 mai</th>
                </tr>
                <tr>
                    <td>2-1</td>
                    <td>Labour</td>
                    <td></td>
                    <td>4 jour</td>
                    <td>3 mai</td>
                    <td>7 mai</td>
                </tr>
                <tr>
                    <td>2-2</td>
                    <td>Semis et hersage</td>
                    <td></td>
                    <td>3 jour</td>
                    <td>8 mai</td>
                    <td>10 mai</td>
                </tr>

                <tr>
                    <th>3</th>
                    <th>Travaux d'entretient</th>
                    <th>3</th>
                    <th>8 semaines</th>
                    <th>20 mai</th>
                    <th>20 juin</th>
                </tr>
                <tr>
                    <td>3-1</td>
                    <td>Premier Desherbage</td>
                    <td></td>
                    <td>4 jour</td>
                    <td>20 mai</td>
                    <td>24 mai</td>
                </tr>
                <tr>
                    <td>3-2</td>
                    <td>Apport d'angrais</td>
                    <td></td>
                    <td>2 jour</td>
                    <td>25 mai</td>
                    <td>27 mai</td>
                </tr>
                <tr>
                    <td>3-3</td>
                    <td>Deuxieme Desherbage</td>
                    <td></td>
                    <td>4 jour</td>
                    <td>20 juin</td>
                    <td>24 juin</td>
                </tr>
                <tr>
                    <td>3-2</td>
                    <td>Apport d'angrais</td>
                    <td></td>
                    <td>2 jour</td>
                    <td>25 juin</td>
                    <td>27 juin</td>
                </tr>

                <tr>
                    <th>4</th>
                    <th>Recolte</th>
                    <th>4</th>
                    <th>2 semaines</th>
                    <th>10 septembre</th>
                    <th>24 septembre</th>
                </tr>
                <tr>
                    <td>4-1</td>
                    <td>Moisson</td>
                    <td></td>
                    <td>4 jour</td>
                    <td>10 septembre</td>
                    <td>14 septembre</td>
                </tr>
                <tr>
                    <td>4-2</td>
                    <td>Battage</td>
                    <td></td>
                    <td>2 jour</td>
                    <td>15 septembre</td>
                    <td>16 septembre</td>
                </tr>
                <tr>
                    <td>4-3</td>
                    <td> Transport</td>
                    <td></td>
                    <td>2 jour</td>
                    <td>17 septembre</td>
                    <td>18 septembre</td>
                </tr>
                <tr>
                    <td>4-4</td>
                    <td>Sechage</td>
                    <td></td>
                    <td>5 jour</td>
                    <td>19 septembre</td>
                    <td>24 septembre</td>
                </tr>

            </table>

        </div>

    </div>
    
</body>
</html>