<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>propos</title>
</head>
<body>

    <%- include('../public/composants/header.ejs') %>

    <div id="page_body">
            
        <%- include('../public/composants/header.ejs') %>

        <h1>A propos du site Fodo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ut recusandae mollitia doloribus praesentium eius quidem porro velit labore aspernatur sapiente vitae minus illo impedit iste distinctio corrupti esse, iusto corporis rem ipsam consequuntur dolorum eaque. At hic reprehenderit nobis tempora quia ab natus odit atque sed! Ratione earum aliquam, inventore a est quas nisi, provident neque pariatur maxime, sunt dolor distinctio modi? Suscipit rem recusandae mollitia, nam ex harum alias assumenda dolore. Perferendis, porro iure ipsa sed fugiat beatae aspernatur nesciunt, necessitatibus esse expedita dicta molestias voluptate voluptatum, earum quaerat eaque delectus eligendi. Reiciendis reprehenderit velit praesentium placeat recusandae.</p>
    </div>
</body>
</html>